<h1>Welcome to Homepage</h1>

<%= link_to "Sign Up", signup_path %> <br/>
<%= link_to "Bloggers", users_path %> <br/>

<%= link_to "Articles", articles_path %>  | 
<%= link_to "About Page", about_path %> 
