<h1> Categories</h1>

<%= will_paginate @categories %>

    


    <% @categories.each do |category| %>
        <div>
            <b><%= link_to category.name, category_path(category) %></b>        
            <span>Created <%= time_ago_in_words(category.created_at) %> ago</span>          
        </div>
    <% end %>
   
<%= will_paginate @categories %>



